<%- include("partials/header")-%>
<%- include("partials/nav")-%>

<section class="section-content">

  <div class="Row">
    <div class="col-1-of-3" id="admission">
      <div class="data">
        <div class="heading-secondary bg-result">
           Results
        </div>
        <ul class="data__list">
          <%results.forEach(function(result){%>
          <li class="data__item"><a href="/result/<%=result.name%>" class="data__link"> <%=result.name%></a></li>

          <%})%>
        </ul>
      </div>

    </div>
    <div class="col-1-of-3" id="job">
      <div class="data">
        <div class="heading-secondary bg-job">
          Latest Job
        </div>
        <ul class="data__list">
          <%jobs.forEach(function(job){%>

          <li class="data__item"><a href="/job/<%=job.job_name%>" class="data__link"> <%=job.job_name%></a></li>

          <%})%>

        </ul>
      </div>

    </div>
    <div class="col-1-of-3" id="govtschemes">
      <div class="data">
        <div class="heading-secondary bg-admit_card">
          Admit Card
        </div>
        <ul class="data__list">
          <%admit_cards.forEach(function(admit_card){%>
          <li class="data__item"><a href="/admit-card/<%=admit_card.name%>" class="data__link"> <%=admit_card.name%></a></li>

          <%})%>

        </ul>
      </div>

    </div>
  </div>


  <div class="Row">
    <div class="col-1-of-3" id="admission">
      <div class="data">
        <div class="heading-secondary bg-admission">
          Admissions
        </div>
        <ul class="data__list">
          <%admissions.forEach(function(admission){%>
          <li class="data__item"><a href="<%=admission.link%>" class="data__link"> <%=admission.name%></a></li>

          <%})%>
        </ul>
      </div>

    </div>

    <div class="col-1-of-3" id="admission">
      <div class="data">
        <div class="heading-secondary bg-govt_schemes">
          Govt. Schemes
        </div>
        <ul class="data__list">
          <%gov_schemes.forEach(function(gov_scheme){%>
          <li class="data__item"><a href="<%=gov_scheme.link%>" class="data__link"> <%=gov_scheme.name%></a></li>

          <%})%>
        </ul>
      </div>

    </div>
    <div class="col-1-of-3" id="admission">
      <div class="data">
        <div class="heading-secondary bg-answer_key">
        Answer Key
        </div>
        <ul class="data__list">
          <%keys.forEach(function(key){%>
          <li class="data__item"><a href="<%=key.link%>" class="data__link"> <%=key.name%></a></li>

          <%})%>
        </ul>
      </div>

    </div>


  </div>









</section>
<%- include("partials/footer")-%>
